html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;
}

.container {
    position: relative;
    min-height: 100vh;
}

#firstpage {
    height: calc(100% - 30px - 3rem);
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
    margin-bottom: 45px;
}

.square {
    float:left;
    position: relative;
    overflow:hidden;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 45%;
    padding-bottom: 45%;
    margin: 2.5%;
    animation: fadeIn 1s;
}

.square:active {
    background: white;
    animation: fadeIn 0.8s;
}



.squarecontent {
    /* position: absolute;
    
    height: 100%; */
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.squarecontent img{
    width: 40%;
}

.squarecontent div {
    margin-top: 10px;
}

#selector {
    display: flex;
    flex-wrap: wrap;
}

#wrapper {
    padding-bottom: 3.5rem;
}

#footer {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    height: 2.5em;
}

#loadOverlay {
    display:none;
}

#prev {
    text-align: left;
    padding-left: 10px;
    font-size: 2em;
    stroke: 2px;
    -webkit-text-stroke: 2px;
}

#recback {
    background: #2e2e2e;
    animation: zoom 1s;
    -moz-animation: zoom 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
}

#rec { 
    width: 45%;
    padding-bottom: 45%;
    background: white;
}

.bigger {
    animation: zoom 0.5s;
    -moz-animation: zoom 0.5s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

.smaller {
    animation: zoomOut 0.5s;
    -moz-animation: zoomOut 0.5s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

#recprogress { 
    opacity: 0;
    width: calc(50% + 3px);
}

.upper {
    z-index: 100;
}

.reccircle {
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
}

#biginstr {
    font-size: 2em;
}

.center {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
}

#mic {
    position: absolute;    
    color: black;
    margin: 0;
    top: 50%;
    left: 50%; 
    padding: 0px; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    font-size: 1.7em;
}

#stop {
    position: absolute;
    width: 25%;
    padding-bottom: 25%;
    margin: 0;
    top: 50%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    border-radius: 6px;
    background-color: #FF4F4F;
}

#reclittlecircle {
    font-size: 10px;
    color: #FF4F4F;
    padding-right: 7px;
    text-align: center;
}

#rerec {
    color: grey;
}

#rerec i {
    margin-right: 3px;
}

#instruction {
    position: absolute;
    width: calc(100% - 30px); /*30px from .container*/
    bottom: 20%;
}

.shown {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}
.hidden {
    animation: fadeOut 1s;
    display:none;
    /* animation-fill-mode: forwards; */
}

.overlay {
    animation: fadeIn 1.5s;
}


@keyframes zoom {
    from {
      width: 45%;
      padding-bottom: 45%;
    }
    to {
        width: 50%;
        padding-bottom: 50%;
    }
}

@keyframes zoomOut {
    from {
      width: 50%;
      padding-bottom: 50%;
    }
    to {
        width: 45%;
        padding-bottom: 45%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      
    }
}

@-moz-keyframes zoom {
    from {
      width: 45%;
      padding-bottom: 45%;
    }
    to {
        width: 50%;
        padding-bottom: 50%;
    }
}

@-moz-keyframes zoom {
    from {
      width: 55%;
      padding-bottom: 55%;
    }
    to {
        width: 45%;
        padding-bottom: 45%;
    }
}

@-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@-moz-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}